# Python bytecode
**/__pycache__/
**/*.py[cod]

# Virtual environment
venv/

# Django abnd db
*.sqlite3
*.log
*.pot
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# VS Code
**/.vscode/

# Environment files
**/.env