# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Django / DB / logs
*.sqlite3
*.log
*.pot
*.swp
*.swo

# Media files (VERY IMPORTANT)
media/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Environment files
main/.env

# Docker noise
docker-compose.override.yml